.boxCart{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    align-items: center;
    justify-items: center;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
}
.cardsItem{
    grid-row: 1/3;
}
.cardsItem img{
    width: 500px;
    padding: 10px;
    border-radius: 10px;
}
.cardsDescription{
    font-size: larger;
    width: 500px;
    text-align: center;
}
.cardsDescription h2{
    font-size: 40px;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    box-shadow: 1px 1px;
    background-color: beige;
}
.cardsDescription p{
    font-size: 30px;
}
.cartControler{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toCart{
    text-align: center;
    backdrop-filter: blur(3px);
    border: solid rgba(0, 0, 0, 0.548);
    border-width: 1px;
    padding: 20px;
    margin: px;
    box-shadow: 1px 1px;
    background-color: beige;
}

.toCart div{
    margin: 5px;
}

.toCart h2 a{
    text-decoration: none;
    color: black;
}

.toCart p{
    font-weight: bold;
}