.box{
    backdrop-filter: blur(3px);
    border: solid black;
    margin: 10px;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}

.cardsList{
    display: grid;
    grid-template-columns: repeat(3,3fr);
}