.checkout{
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    backdrop-filter: blur(3px);
    border: solid rgba(0, 0, 0, 0.548);
    border-width: 1px;
    margin: 10px;
}
.checkoutForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
    margin: 20px 50px
}

.checkoutForm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px;
    background-color: beige;
}

.checkoutForm input{
    margin: 5px;
}

.order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
    margin: 20px 50px
}

.order a{
    text-decoration: none;
    color: black;
    background-color: beige;
    border: solid 1px black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px;
}
