.box{
    backdrop-filter: blur(3px);
    border: solid rgba(0, 0, 0, 0.548);
    border-width: 1px;
    margin: 10px;
}

.cardsDetail{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    align-items: center;
    justify-items: center;
}
.cardsItem{
    grid-row: 1/3;
}
.cardsDescription{
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    width: 500px;
    text-align: center;
}
.cardsCount{
    width: 300px;
}